# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env
.env.*

# macOS
.DS_Store

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Temporary files
*.tmp
*.swp
